html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
}
main {
  margin-left: 5%;
}

/* Variables */
:root {
  --clr-primary: #0065fc;
  --clr-primary-light: #deebff;
  --clr-gray: #f2f2f2;
  --clr-black: #000000;
}

/********** Header **********/

#logo {
  margin-left: 5%;
  font-size: 20px;
  /* padding: 7.5px 10px 7.5px 0; */
}
img {
  padding: 0%;
}

nav {
  margin-bottom: 2em;
  padding: 0 15px;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 50px;
  margin-bottom: 5%;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  cursor: pointer;
  /* padding: 0.5rem; */
  /* padding: auto; */
  flex: auto;
  text-align: center;
}

nav ul li a {
  text-decoration: none;
  color: var(--clr-black);
  display: block;
  padding: 40px 50px;
  font-size: 1.2em;
}

nav ul li :hover {
  color: var(--clr-primary);
  border-top: var(--clr-primary) solid;
}

/********** Responsive Header **********/

@media screen and (max-width: 767px) {
  header {
    flex-direction: column;
  }
  .navbar {
    flex-direction: column;
  }
  #logo {
    text-align: center;
    margin-left: 50px;
  }
  nav {
    border-bottom: #f2f2f2 5px solid;
  }
  nav > div {
    width: 50%;
    text-align: center;
  }
  nav > div > a {
    padding: 20px 0;
  }
  nav ul li a:hover {
    border-top: none;
    margin-bottom: -5px;
    border-bottom: #0065fc 5px solid;
  }
}

@media screen and (max-width: 300px) {
  /* Header */
  nav {
    border-bottom: 0;
    font-size: 14px;
  }
  nav > div {
    border-bottom: #f2f2f2 3px solid;
    width: 100%;
  }
  nav ul li a :hover {
    border-top: none;
    margin-bottom: -3px;
    border-bottom: #0065fc 3px solid;
  }
}
/********** Search Form **********/

#search > * {
  margin-bottom: 20px;
  text-align: left;
}
#searchIcon {
  display: inline;
  width: 40px;
  background-color: #f2f2f2;
  padding: 15px;
  border-radius: 15px 0 0 15px;
}
#searchInput {
  outline: none;
  height: 49px;
  width: 300px;
  border: 1px solid #f2f2f2;
  padding-left: 1em;
  font-size: 1em;
  font-weight: 700;
  border-radius: 0;
}

#searchBtn {
  height: 50px;
  padding: 0 20px;
  font-weight: 700;
  color: #fff;
  background: #0065fc;
  border: none;
  border-radius: 0 15px 15px 0;
  -webkit-transform: translateX(-5px);
  -ms-transform: translateX(-5px);
  transform: translateX(-5px);
  cursor: pointer;
}
#searchBtn:hover {
  background: #1774ff;
}
#searchBtnMobile {
  display: none;
}
