*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Variables */
:root {
  --clr-primary: #0065fc;
  --clr-primary-light: #deebff;
  --clr-gray: #f2f2f2;
  --clr-black: #000000;
}
