html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
}

/* Variables */
:root {
  --clr-primary: #0065fc;
  --clr-primary-light: #deebff;
  --clr-gray: #f2f2f2;
  --clr-black: #000000;
}

/* Header */

#logo {
  margin-left: 5%;
  padding-top: 20px;
}

nav {
  margin-bottom: 2em;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 50px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
}
header li {
  list-style: none;
  display: inline-block;
  padding: 0 20px;
}

nav ul li a {
  text-decoration: none;
  color: var(--clr-black);
  display: block;
  padding: 40px 50px;
  font-size: 1.2em;
}

nav ul li :hover {
  color: var(--clr-primary);
  border-top: var(--clr-primary) solid;
}
